{% extends 'base.html.twig' %}

{% block title %}Hello UploadFileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/ALL XAMPP/new/3/XAMPP/htdocs/PHP/Symfony/symfony_REST_API/SYMFONY_API/admin/src/Controller/UploadFileController.php'|file_link(0) }}">src/Controller/UploadFileController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/ALL XAMPP/new/3/XAMPP/htdocs/PHP/Symfony/symfony_REST_API/SYMFONY_API/admin/templates/upload_file/index.html.twig'|file_link(0) }}">templates/upload_file/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
